/SocketClassDemo/x64/Debug/main.obj
/SocketClassDemo/x64/Debug/SocketClassDemo.Build.CppClean.log
/SocketClassDemo/x64/Debug/SocketClassDemo.exe.recipe
/SocketClassDemo/x64/Debug/SocketClassDemo.ilk
/SocketClassDemo/x64/Debug/SocketClassDemo.log
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/CL.command.1.tlog
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/Cl.items.tlog
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/CL.read.1.tlog
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/CL.write.1.tlog
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/link.command.1.tlog
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/link.read.1.tlog
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/link.write.1.tlog
/SocketClassDemo/x64/Debug/SocketClassDemo.tlog/SocketClassDemo.lastbuildstate
/SocketClassDemo/x64/Debug/SocketClassDemo.vcxproj.FileListAbsolute.txt
/SocketClassDemo/x64/Debug/vc143.idb
/SocketClassDemo/x64/Debug/vc143.pdb
/SocketClassDemo/x64/Release/main.obj
/SocketClassDemo/x64/Release/SocketClassDemo.exe.recipe
/SocketClassDemo/x64/Release/SocketClassDemo.iobj
/SocketClassDemo/x64/Release/SocketClassDemo.ipdb
/SocketClassDemo/x64/Release/SocketClassDemo.log
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/CL.command.1.tlog
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/Cl.items.tlog
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/CL.read.1.tlog
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/CL.write.1.tlog
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/link.command.1.tlog
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/link.read.1.tlog
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/link.write.1.tlog
/SocketClassDemo/x64/Release/SocketClassDemo.tlog/SocketClassDemo.lastbuildstate
/SocketClassDemo/x64/Release/vc143.pdb
/x64/Debug/SocketClassDemo.exe
/x64/Debug/SocketClassDemo.pdb
/x64/Release/SocketClassDemo.exe
/x64/Release/SocketClassDemo.pdb
